{% extends '_layout' %}
{% block main %}
    <!-- Page header -->
    <header class="masthead" style="background-image: url('img/home-bg-new.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row col-lg-12 pt-10 pb-5 txtclrblk">
                <h1>{{ entry.title }}</h1>
                <h2>{{ entry.bootstrapIntroduction }}</h2><br>
                Posted by <a href="#">{{ entry.author }}</a>
                on {{ entry.postDate | date('M d, Y') }}
                <div class="col-lg-8 col-md-10 mx-auto">
                    {{ entry.bootstrapUrl }}
                </div>
            </div>
        </div>
{% endblock %}
