<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>jhernandez@ulcomm.com</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../favicon.ico">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{ siteUrl }}assets/vendor/bootstrap/bootstrap.min.css">
    <!-- CSS Global Icons -->
    <link rel="stylesheet" href="{{ siteUrl }}assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/vendor/icon-etlinefont/style.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/vendor/animate.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/vendor/hamburgers/hamburgers.min.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/unify-core.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/unify-components.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/unify-globals.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/custom.css">
</head>

<body>
<main>



    <!-- Header -->
    <header id="js-header" class="u-header u-header--static">
        <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
            <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
                <div class="container">
                    <div class="row col-lg-12">
                        <!-- Responsive Toggle Button -->
                        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                            <span class="hamburger hamburger--slider">
                            <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                            </span>
                            </span>
                        </button>

                        <!-- End Responsive Toggle Button -->

                        <!-- Logo -->
                        <a href="../../index.twig" class="navbar-brand">
                            <img src="../../assets/img/logo/logo-1.png" alt="Image Description">
                        </a>
                        <!-- End Logo -->

                        <!-- Navigation -->
                        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
                            <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">

                                <!-- Pages --
                                <li class="nav-item active g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                                    <a id="nav-link-pages" class="nav-link g-py-7 g-px-0" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-pages">Home</a>
                                </li>
                                <!-- End Pages -->

                                <!-- Blog -->

                                <li class="nav-item g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                                    <a id="nav-link--blog" class="nav-link g-py-7 g-px-0" href="/emails" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--blog">Emails</a>
                                </li>

                                <li class="nav-item g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                                    <a id="nav-link--blog" class="nav-link g-py-7 g-px-0" href="/bootstrap" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--blog">Bootstrap</a>
                                </li>
                                <!-- End Blog -->


                            </ul>
                        </div>
                        <!-- End Navigation -->
                    </div>
                </div>
                <div class="d-inline-block g-hidden-xs-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg">
                    <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15" href="http://craft.ulcomm.com/email/klx/email-1.html" target="_blank">Current Project</a>
                </div>
            </nav>

        </div>
    </header>
    <!-- End Header -->


{%  block main %}

{%  endblock %}




                    <!-- Footer -->
                    <footer class="g-brd-bottom g-brd-gray-light-v4">
                        <div class="container g-pt-100 g-pb-40">
                            <div class="row">
                                <div class="col-sm-6 col-lg-3 g-mb-30">
                                    <a class="d-inline-block" href="#!">
                                        <img class="g-width-100 g-height-auto" src="../../assets/img/logo/logo-1.png" alt="Image Description">
                                    </a>
                                </div>


                                <div class="col-sm-6 col-lg-3 g-mb-30">
                                    <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-4">About</h3>

                                    <!-- Links -->
                                    <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-13">
                                        <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="http://www.CaWebDev.com">Websites</a>
                                        </li>
                                        <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="http://www.itswebsitemd.com">Supplemental Insurance</a>
                                        </li>
                                        <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="https://policies.google.com/privacy">Privacy &amp; Policy</a>
                                        </li>
                                        <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="https://policies.google.com/terms">Terms &amp; Conditions</a>
                                        </li>
                                    </ul>
                                    <!-- End Links -->
                                </div>

                                <div class="col-sm-6 col-lg-3 g-mb-30">
                                    <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-4">Contacts</h3>

                                    <!-- Links -->
                                    <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-13">
                                        <li class="media mb-4">
                                            <i class="d-flex mt-1 mr-3 icon-hotel-restaurant-235 u-line-icon-pro"></i>
                                            <div class="media-body">
                                                304 Canadian St
                                                <br>Houston, TX 77009
                                            </div>
                                        </li>
                                        <li class="media mb-4">
                                            <i class="d-flex mt-1 mr-3 icon-communication-062 u-line-icon-pro"></i>
                                            <div class="media-body">
                                                <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="mailto:jhernandez@ulcomm.com">jhernandez@ulcomm.com</a>
                                            </div>
                                        </li>
                                        <li class="media mb-4">
                                            <i class="d-flex mt-1 mr-3 icon-communication-033 u-line-icon-pro"></i>
                                            <div class="media-body">
                                                <a href="13464042185">+1 346 404 2185</a>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- End Links -->
                                </div>

                                <div class="col-sm-6 col-lg-3 g-mb-30">
                                    <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-4">Social</h3>

                                    <!-- Links -->
                                    <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-13">
                                        <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="http://facebook.com/comp1">Facebook</a>
                                        </li>
                                        <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="https://twitter.com/itscomp1">Twitter</a>
                                        </li>
                                        <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="https://www.instagram.com/itscomp1/">Instagram</a>
                                        </li>
                                        <li class="my-3"><i class="mr-2 fa fa-angle-right"></i>
                                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="https://www.linkedin.com/in/joey-hernandez-6033b696/">Linkedin</a>
                                        </li>
                                    </ul>
                                    <!-- End Links -->
                                </div>
                            </div>
                        </div>
                    </footer>
                    <!-- End Footer -->

                    <!-- Footer Copyright -->
                    <div class="container text-center g-py-30">
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">2017 © Jose Luis Hernandez II. All Rights Reserved.</p>
                    </div>
                    <!-- End Footer Copyright -->

                    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
                        <i class="hs-icon hs-icon-arrow-top"></i>
                    </a>
</main>

<div class="u-outer-spaces-helper"></div>


<!-- JS Global Compulsory -->
<script src="{{ siteUrl }}assets/vendor/jquery/jquery.min.js"></script>
<script src="{{ siteUrl }}assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
<script src="{{ siteUrl }}assets/vendor/popper.min.js"></script>
<script src="{{ siteUrl }}assets/vendor/bootstrap/bootstrap.min.js"></script>


<!-- JS Implementing Plugins -->
<script src="{{ siteUrl }}assets/vendor/appear.js"></script>
<script src="{{ siteUrl }}assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
<script src="{{ siteUrl }}assets/vendor/masonry/dist/masonry.pkgd.min.js"></script>
<script src="{{ siteUrl }}assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="{{ siteUrl }}assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>

<!-- JS Unify -->
<script src="{{ siteUrl }}assets/js/hs.core.js"></script>
<script src="{{ siteUrl }}assets/js/components/hs.header.js"></script>
<script src="{{ siteUrl }}assets/js/helpers/hs.hamburgers.js"></script>
<script src="{{ siteUrl }}assets/js/components/hs.tabs.js"></script>
<script src="{{ siteUrl }}assets/js/components/hs.cubeportfolio.js"></script>
<script src="{{ siteUrl }}assets/js/components/hs.onscroll-animation.js"></script>
<script src="{{ siteUrl }}assets/js/components/hs.go-to.js"></script>

<!-- JS Customization -->
<script src="{{ siteUrl }}assets/js/custom.js"></script>

<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of scroll animation
        $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
    });

    $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
        });

        // initialization of masonry
        $('.masonry-grid').imagesLoaded().then(function () {
            $('.masonry-grid').masonry({
                columnWidth: '.masonry-grid-sizer',
                itemSelector: '.masonry-grid-item',
                percentPosition: true
            });
        });

        // initialization of cubeportfolio
        $.HSCore.components.HSCubeportfolio.init('.cbp');
    });

    $(window).on('resize', function () {
        setTimeout(function () {
            $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
    });
</script>







</body>

</html>
